/* ============ Default Styling ============ */
/* header box styling */
#header {
    overflow: hidden;
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 20px 15px;
}
/* header title styling */
#header a.title {
    font-size: 25px;
    font-weight: bold;
}
/* header links styling */
#header a {
    color: black;
    float: left;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    font-size: 18px;
}
/* header links shifted right */
#header-right {
    float: right;
}
/* change color on hover */
#header a:hover {
    background-color: #ddd;
    color: black;
}
body {
    font-family: "Verdana", sans-serif;
}
.img1 {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}
#title {
    font-size: 25px;
}
.text {
    font-size: 13px;
}
#about {
    font-size: 13px;
}